*{
	margin: 0 auto;
	padding: 0 auto;
	font-family: Century Gothic;
}
/*encabezado*/
header{
	background: black;
	width: 100%;
	height: 100px;
}
header img{
	height: 
}
#header{
	background: black;
	height: 80px;
	color: white;
}
.center{
	width: 100%;
	margin: 0 auto;
}
#logo{
	float: left;
	display: block;
}
#logo img{
	width: 90px;
	height: 80px;
	margin-left: 20px;
}
/*barra menu*/
#menu_form{
	/*background: #3b3b3f;*/
	text-transform: uppercase;
	float: right;
	list-style: none;
	margin-top: 15px;
	margin-right: 15px;
}
#menu_form li{
	/*background-color: tomato;*/
	float: left;
	margin-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 3px;
	padding-left: 3px;
	margin-left: -18px;
	color: white;
}
#menu_form li a{
	color: white;

	text-decoration: none;
	padding: 10px 5px;
}
#menu_form li a:hover{
	background: #61c1d8;
	color: black;
	border-radius: 3px;
	box-shadow: 0 3px 9px #fff;
}
/*cuerpo*/
#ingreso{
	background: #3b3b3f;
	border-radius: 10px;
	box-shadow: 0 0 20px #72727a; 
	clear: both;
	text-align: center;
	height: 370px;
	padding-top: 55px;
	color: white;
	float: right;
	padding-right: 30px;
	padding-left: 30px;
	margin-right: 18px;

}
#ingreso form{
	width: 400px;
	text-align: left;
	padding-top: 30px;
}

}
#ingreso a{
	color: white;
	font-family: Ebrima;
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
	margin: 0 auto;
	width: 100px;
}
#ingreso input{
	margin-bottom: 20px;
	border-radius: 2px;
	
}
.ajustar{
	display: block;
	width: 390px;
	height: 20px;
}
#nombre{
	border: 2px solid white;
}
#pass{
	border: 2px solid white;

}
#login_button{
	height: 30px;
	width: 400px;
	margin-top: 15px;	
}
.btn_neon{
	position: relative;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	text-shadow: 2px 3px 10px #3b3b3f;
	font-family: Bahnschrift;
	border: 2px solid #61c1d8;
	border-radius: 5px;
	font-size: 15px;
	overflow: hidden;
	transition: 0.2s;

}
.btn_neon:hover{
	background-color:#61c1d8;
	box-shadow: 0 0 10px #61c1d8, 0 0 20px purple, 0 0 20px  #61c1d8; 

}

/*texto izquierda*/
#text1{
	background: black;
	justify-content: space-around;
	padding: 45px 20px;
	padding-right: 100px;
	height: 430px;
}

#text1 h2{
	font-family:  Copperplate Gothic Bold; 
	margin-top: 95px;
	color: #61c1d8;
	font-size: 35px;
}
#text1 p{
	color: white;
	font-family: Ebrima;
	font-size: 12.5px;
	padding-left: 7px;
	padding-top: 10px;
	padding-right: 15px;
}
/*pie pag*/
footer{
	background: black;
	height: 150px;
	width: 100%;
	padding top: 10px 30px;

}
#pie{
	/*background: red;*/
	text-align: center;
	justify-content: center;
}
#pie p{
	/*background: pink;*/
	padding: 10px;
	padding-top: 15px; 
	height:20px;
	width: 350px;
	margin-left: 20px;
	font-weight: bold;
	font-size: 15.5px;
	color: #909395;
}
#pie a{
	/*background: pink;*/
	font-weight: bold;
	display: flex;
	padding-left: 50px;
	padding-top: 20px;
	text-decoration: none;
	color: #909395;
}

#pie h4{
	float: left; 
	display: flex;
	/*background: green;*/
	height:20px;
	padding: 10px;

	padding-top: 15px;
	margin-left: 40px;
	margin-top: 60px; 
	height:20px;
	width: 350px;                          
	font-weight: bold;
	font-size: 15.5px;
	color: #909395;
}
/*redes sociales*/

#redes{
	float: right;
	list-style: none;
	margin-top: 15px;
	padding-left: 20px;
	margin-right: 10px;
}
#redes li{
	float: left;
	
}
#redes li a{
	color: white;
	padding: 15px 15px;
	background: red;
}
#redes li a:hover{
	background: white;
	color: black;
}

#fbok{
	justify-content:center;
	width:50px;
	height:50px;
	align-items:center;
	color: white;
	background: #222326;
	display: inline-flex;
	cursor: pointer;
	/*background: pink;*/
}

#ttww{
 
 	float: right;
	justify-content:center;
	width:50px;
	height:50px;
	align-items:center;
	color: white;
	background: #222326;
	display: inline-flex;
	margin-right: 30px;
	cursor: pointer;
	/*background: pink;*/

}
#insta{
	float: right;
	justify-content:center;
	width:50px;
	height:50px;
	margin-left: -30px;
	align-items:center;
	color: white;
	background: #222326;
	display: inline-flex;
	cursor: pointer;
	/*background: pink;*/

}