*{
	margin: 0 auto;
	padding: 0 auto;
	font-family: Century Gothic;
}
/*encabezado*/
header{
	background: black;
	width: 100%;
	height: 90px;
}

#header2{
	/*background: green;*/
	height: 80px;
	color: white;
}
.center2{
	width: 1000px;
	margin: 0 auto;
}
#logo2{
	float: left;
	display: block;
}
#logo2 img{
	width: 90px;
	height: 80px;
	margin-left: 20px;
}
/*menu*/
#menu_regis{
	/*background: pink;*/
	float: right;
	list-style: none;
	margin-top: 15px;
}
#menu_regis li{
	float: left;
	padding-right: 20px;
	padding-top: 15px;
}
#menu_regis li a{
	text-decoration: none;
	text-transform: uppercase;
	padding-right: 10px;
	color: white;
}
#menu_regis li a:hover{
	background: #61c1d8;
	color: black;
	padding: 10px 10px;
	border-radius: 3px;
	box-shadow: 0 3px 9px #fff;
}
/*cuerpo*/
#registro{
	background: black;
	clear: both;
	text-align: center;
	height: 600px;
	width: 947px;
	padding-top: 55px;
	color: white;
	text-align: center;
	padding-right: 30px;
	padding-left: 30px;
	margin-right: 18px;
}
#registro form{
	margin: 0 auto;
	text-align: left;
	padding-top: 30px;
}

#registro input{
	margin-bottom: 20px;
	border-radius: 4.5px;
	border-style: solid black;
	padding: 5px;
	
}
.ajustar2{
	display: block;
	width: 390px;
	height: 20px;
}
#pass2{
	margin-left: 270px;
	width: 390px;
	border-radius: 4.5px;
	border-style: solid black;
	padding: 5px;
}
/*fechas*/
#fech{
	display: flex;
	/*background: blue;*/
	justify-content: center;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px 10px;
}

#fechas{
	/*background: pink;*/
	padding: 5px 15px;
	justify-content: center; 
	margin-right: -100px;
	padding-left: 10px;
	margin-left: 310px; 
	border-radius: 2px;
	
}
#meses{
	/*background: orange;*/
	padding: 5px 15px;
	margin-right: -100px;
	padding-left: 10px;
	margin-left: 135px; 
	margin-bottom: 50px;
	border-radius: 2px;
}
#anos{
	/*background: red;*/
	padding: 5px 15px;
	margin-right: -100px;
	padding-left: 10px;
	margin-left: 135px; 
	margin-bottom: 50px;
	border-radius: 2px;
}
#terminos{
	justify-content: center;
	text-decoration: none;
	font-family: Ebrima;
	/*background: blue;*/
	padding: 5px 5px;
	padding-bottom: 15px;
	margin-left: 305px;
	color: white;
}
#check1{
	justify-content: center;
	text-decoration: none;
	font-family: Ebrima;
	/*background: blue;*/
	padding: 5px 5px;
	margin-left: 285px;
	margin-top: 15px;
	color: white;
}
#check1_2{
	justify-content: center;
	text-decoration: none;
	font-family: Ebrima;
	/*background: blue;*/
	padding: 5px 5px;
	margin-top: 15px;
	color: white;

}
/*boton*/
#boton{
	height: 30px;
	width: 370px;
	margin-top: 15px;
	margin-left: 300px;
}
.boton_regis{
	position: relative;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	text-shadow: 2px 3px 10px #3b3b3f;
	font-family: Bahnschrift;
	border: 2px solid #61c1d8;
	border-radius: 5px;
	font-size: 15px;
	overflow: hidden;
	transition: 0.2s;
}
.boton_regis:hover{
	background-color: #61c1d8;
	box-shadow: 0 0 10px #61c1d8, 0 0 20px purple, 0 0 20px #61c1d8; 
}
/*pie depag*/
footer{
	background: black;
	height: 150px;
	width: 100%;
	padding top: 10px 30px;

}
#pie_2{
	/*background: red;*/
	text-align: center;
	justify-content: center;
}
#pie_2 a{
	/*background: pink;*/
	font-weight: bold;
	display: flex;
	padding-left: 50px;
	padding-top: 20px;
	text-decoration: none;
	color: #909395;
}

#pie_2 h4{
	float: left; 
	display: flex;
	/*background: green;*/
	height:20px;
	padding: 10px;

	padding-top: 15px;
	margin-left: 40px;
	margin-top: 60px; 
	height:20px;
	width: 350px;                          
	font-weight: bold;
	font-size: 15.5px;
	color: #909395;
}
/*redes sociales*/

#redes_2{
	float: right;
	list-style: none;
	margin-top: 15px;
	padding-left: 20px;
	margin-right: 10px;
}
#redes_2 li{
	float: left;
	
}
#redes_2 li a{
	color: white;
	padding: 15px 15px;
	background: red;
}
#redes_2 li a:hover{
	background: white;
	color: black;
}

#fbok_2{
	justify-content:center;
	width:50px;
	height:50px;
	align-items:center;
	color: white;
	background: #222326;
	display: inline-flex;
	cursor: pointer;
	/*background: pink;*/
}

#ttww_2{
 
 	float: right;
	justify-content:center;
	width:50px;
	height:50px;
	align-items:center;
	color: white;
	background: #222326;
	display: inline-flex;
	margin-right: 30px;
	cursor: pointer;
	/*background: pink;*/

}
#insta_2{
	float: right;
	justify-content:center;
	width:50px;
	height:50px;
	margin-left: -30px;
	align-items:center;
	color: white;
	background: #222326;
	display: inline-flex;
	cursor: pointer;
	/*background: pink;*/

}